.container {
  margin-top: 100px;
}

.card-container {
  width: 500px;
  border: 3px solid red;
  margin: auto auto;
}
.card-container h1 {
  font-family: "Love Ya Like A Sister", cursive;
  font-size: 45px;
  text-align: center;
  letter-spacing: 10px;
  color: #ff5733;
}
.personal-info {
  margin-right: 20px;
}
.personal-info p {
  font-size: 20px;
  padding: 10px 15px;
  color: rgba(40, 38, 38, 0.756);
}
.social-media-btn {
  background-color: #fff;
  margin: 30px 60px;
  display: flex;
  justify-content: space-between;
}
.social-media-btn button {
  cursor: pointer;
  background-color: #fff;
  padding: 10px 15px;
  border: 0;
  border-radius: 8px;
  outline: 3px solid #ff5733;
}
.social-media-btn button:hover {
  background-color: #deb4ab;
  padding: 10px 15px;
  color: black;
  font-size: 18px;
  outline: 0;
}
