.container {
  margin-top: 100px;
}

.card-container {
  width: 400px;
  border: 3px solid red;
  margin: 30px auto;
}
.card-container h1 {
  font-family: "Love Ya Like A Sister", cursive;
  font-size: 45px;
  text-align: center;
  letter-spacing: 10px;
  color: #ff5733;
}
.personal-info {
  margin-right: 20px;
}
.personal-info p {
  font-size: 20px;
  padding: 10px 15px;
  color: rgba(40, 38, 38, 0.756);
}
.social-media-btn {
  background-color: #fff;
  margin: 30px 60px;
  display: flex;
  justify-content: space-between;
}
.social-media-btn button {
  cursor: pointer;
  background-color: #fff;
  padding: 10px 15px;
  border: 0;
  border-radius: 8px;
  outline: 3px solid #ff5733;
}
.social-media-btn button:hover {
  background-color: #deb4ab;
  padding: 10px 15px;
  color: black;
  font-size: 18px;
  outline: 0;
}

.hire-me {
  /* background-color: rgba(211, 222, 153, 0.728); */
  /* background: linear-gradient(); */
  background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  display: block;
  border: 0;
  font-weight: 900;
  letter-spacing: 3px;
  border-radius: 10px;
  margin-left: 40px;
  margin-top: 40px;
  padding: 20px 95px;
  /* box-shadow: 10px 12px 10px linear-gradient(to right, #fc5c7d, #6a82fb); */
  box-shadow: 10px 12px 14px #d39da8;
}
.additional-info {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  height: 50px;
  background-color: #707cb8;
  color: #fff;
}
.react,
.project {
  display: flex;
  gap: 10px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
}
.react p {
  margin-right: 5px;
}
.hr {
  height: 10px;
  margin-top: 25px;
}
