html {
  font-size: 62.5%;
}
.container {
  margin-top: 100px;
}

.card-container {
  width: 400px;
  box-shadow: 20px 15px 14px 16px #c6cdf0;
  margin: 60px auto;
  position: relative;
}
.card-container:hover {
  cursor: pointer;
  /* width: 400px; */
  box-shadow: 20px 15px 34px 26px #42434b;
}
.card-container h1 {
  font-family: "Love Ya Like A Sister", cursive;
  font-size: 45px;
  text-align: center;
  letter-spacing: 10px;
  color: #ff5733;
}
.personal-info {
  margin-right: 20px;
}
.personal-info img {
  box-shadow: 10px 10px 12px #fff;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  top: -40px;
  left: -50px;
}
.personal-info p {
  margin-left: 30px;
  font-size: 20px;
  padding: 10px 15px;
  color: rgba(40, 38, 38, 0.756);
}
.personal-info p::first-letter {
  font-size: 35px;
  text-transform: uppercase;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.social-media-btn {
  background-color: #fff;
  margin: 30px 60px;
  display: flex;
  justify-content: space-between;
}
.social-media-btn button {
  cursor: pointer;
  background-color: #fff;
  padding: 10px 15px;
  border: 0;
  border-radius: 8px;
  outline: 3px solid #ff5733;
}
.social-media-btn button:hover {
  background-color: #deb4ab;
  padding: 10px 15px;
  color: black;
  font-size: 18px;
  outline: 0;
}

.hire-me {
  /* background-color: rgba(211, 222, 153, 0.728); */
  /* background: linear-gradient(); */
  background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
  display: block;
  border: 0;
  font-weight: 900;
  letter-spacing: 3px;
  border-radius: 10px;
  margin-left: 40px;
  margin-top: 40px;
  padding: 20px 95px;
  /* box-shadow: 10px 12px 10px linear-gradient(to right, #fc5c7d, #6a82fb); */
  box-shadow: 10px 12px 14px #d39da8;
}
.additional-info {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  height: 50px;
  background-color: #707cb8;
  color: #fff;
}
.react,
.project {
  display: flex;
  gap: 10px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
}
.react p {
  margin-right: 5px;
}
.hr {
  height: 10px;
  margin-top: 25px;
}

@media screen and (max-width: 576px) {
  .container {
    margin: 3rem 0;
    padding: 0;
  }
  .card-container {
    max-width: 40rem;
    margin: 0;
    /* margin-right: 2rem; */
  }
  .personal-info img {
    width: 6rem;
    height: 6rem;
    left: 27rem;
    top: 1rem;
  }
}
